[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
flask = "*"
flask-jwt-extended = "*"
python-dotenv = "*"
flask-pymongo = "*"
flask-cors = "*"
redis = "*"
gunicorn = "*"
argon2-cffi = "*"
cryptography = "*"
pyjwt = "*"

[dev-packages]

[requires]
python_version = "3.12"
