global
    log stdout format raw local0

defaults
    log global
    option httplog
    timeout client 1m
    timeout server 1m
    timeout connect 10s

frontend test_frontend
    mode http
    bind *:80
    unique-id-format %[uuid()]
    unique-id-header X-Unique-ID

    filter spoe engine coraza config /etc/haproxy/coraza.cfg
    log-format "%ci:%cp [%t] %ft %b/%s %ST %B %tsc waf: %[var(txn.coraza.data)] waf-error: %[var(txn.coraza.error)] waf-action: %[var(txn.coraza.action)]"

    # Gestione delle azioni del WAF
    http-request deny deny_status 403 if { var(txn.coraza.action) -m str deny }
    http-response deny deny_status 403 if { var(txn.coraza.action) -m str deny }

    http-request silent-drop if { var(txn.coraza.action) -m str drop }
    http-response silent-drop if { var(txn.coraza.action) -m str drop }

    # Deny in case of an error during processing with the Coraza SPOA
    http-request deny deny_status 504 if { var(txn.coraza.error) -m int gt 0 }
    http-response deny deny_status 504 if { var(txn.coraza.error) -m int gt 0 }

    use_backend test_backend

backend test_backend
    mode http
    http-request return status 200 content-type "text/plain" string "Welcome!\n"

backend coraza-spoa
    mode tcp
    server s1 coraza-spoa:9000 check  # Assicurati che Coraza stia ascoltando sulla porta 9000
